@import "config.scss";
@import "reset.scss";
@import "buttons.scss";
@import "form.scss";
@import "/dist/fonts/cuprum.css";

@import "animations.scss";
* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  min-width: 1000px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
}

.dangerColor {
  color: #bf3000;
}
.successColor {
  color: #048000;
}
.primaryColor {
  color: #00c3ff;
}

.lightRed {
  background-color: rgba($color: #ff0000, $alpha: 0.15);
}

.important-w-100 {
  width: 100% !important;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #cf8804;
}

*::-webkit-resizer {
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background-color: black;
}

*::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #d1ab00;
}

.night-mode-control {
  background: url("#{$img_path}/ui/moon.png") 0px 0px no-repeat, url("#{$img_path}/ui/sun.png") 20px 0px no-repeat;
}

.bold-italic {
  font-weight: 900;
  font-style: italic;
}

.w-100 {
  width: 100%;
}

.redact-user-data {
  animation: $showBlocksAnimation;
  position: fixed;
  overflow: auto;
  z-index: 50;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 15px 15px 15px 15px;
  background-color: rgba($color: #000000, $alpha: 0.75);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &-block {
    position: relative;
    z-index: 20;
    width: 310px;
    margin: 5px 5px 5px 5px;
  }
}

.null-list-message {
  color: black;
  padding: 7px 7px 7px 7px;
  font-family: $fontFamily;
}

.hr-block {
  height: 1px;
  width: 100%;
  background-color: #969696;
  margin: 7px 7px 7px 7px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
}

.text-start {
  text-align: left;
  justify-content: flex-start;
}

.display-none {
  display: none !important;
}

.flex-portal-to-first {
  order: -1;
}

.item-padding {
  padding: 10px 10px 10px 10px;
}

@import "Dashboard.scss";
@import "Workpositions.scss";
@import "RedactStaff.scss";
@import "Criteriasigns.scss";
@import "StaffAssessmentConfig.scss";
@import "FillingAssessmentForm.scss";
@import "Results.scss";
@import "night-mode.scss";

.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $dayModeFormColor;
  border-radius: 15px;
}

.chart-container-block {

  @media (max-width: 1250px) {
    & {
      width: 550px;
    }
  }

  @media (min-width: 1251px) and (max-width: 1650px){
    & {
      width: 90%;
    }
  }

  @media (min-width: 1651px){
    & {
      width: 85%;
    }
  }
}
