button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.href-button {
  border: 0;
  background: 0;
  padding: 5px 5px 5px 5px;
  background-color: rgb(99, 99, 99);
  color: white;
  transition: $shortTransition;
  border-radius: 5px;
  &:hover {
    background-color: rgb(87, 87, 87);
  }
  &:active {
    background-color: rgb(57, 57, 57);
  }
  &:focus {
    outline: none;
  }
}

@mixin funcBtn() {
  /*animation: $showBlocksAnimation;*/
  transition: $shortTransition;
  position: relative;
  padding: 3px 7px 3px 7px;
  margin: 3px 3px 3px 3px;
  color: white;
  border: 0;
}

@mixin funcBtnTransforms($class) {
  #{$class}:focus {
    outline: none;
  }
  #{$class}:hover {
    background-position: 70%;
  }
  #{$class}:active {
    background-position: 100%;
  }
  #{$class}:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.functional-button {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  font-size: $fontSizeStandart;
  background-size: 300% 50px;
  @include funcBtn();
  @include funcBtnTransforms('&');
}

.mini-functional-button {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  background-size: 300% 30px;
  @include funcBtn();
  @include funcBtnTransforms('&');
}

/*--------------------------------------------------------------------------*/

/*-------------------------------COLOR_SETTINGS-----------------------------*/

$buttonsColors: (
  primary: linear-gradient(to top right, #00c3ff, #000ed4),
  warning: linear-gradient(to top right, #ffe600, #a17b00),
  danger: linear-gradient(to top right, #ff0000, #7a0000),
  success: linear-gradient(to top right, #00ff1e, #006b0d),
  red-orange: linear-gradient(to top right, rgb(255, 0, 0), rgb(255, 165, 0)),
  fiolet: linear-gradient(to top right, #a985ff, #3000a3),
  cyan: linear-gradient(to top right, #3eede7, #00615e),
  dark: linear-gradient(to top right, #707070, #313131)
);

@each $status, $color in $buttonsColors {
  .#{$status}-button {
    background-image: $color;
  }
  .mini-#{$status}-button {
    background-image: $color;
  }
}

/*--------------------------------------------------------------------------*/

/*-------------------------------IMAGE_SETTINGS-----------------------------*/

$normalImageSize: 'normal-40px/';
$miniImageSize: 'mini-30px/mini-';

$buttonsTypes: (
  'search': 'search.png',
  'redact': 'pen.png',
  'delete': 'delete.png',
  'ok': 'ok.png',
  'log': 'log.png',
  'eye': 'eye.png',
  'logout': 'logout.png',
  'close': 'close.png',
  'settings': 'settings.png',
  'security': 'security.png',
  'add': 'add.png',
  'back': 'back.png',
  'complete': 'complete.png',
  'filter': 'filter.png',
  'copy': 'copy.png',
  'sortabc': 'sortabc.png',
  'more': 'more.png',
  'work': 'work.png',
  'results': 'results.png'
);

@each $type, $image in $buttonsTypes {
  .#{$type}-button:after {
    content: url('#{$img_path}functional_buttons/#{$normalImageSize}#{$image}');
  }
  .mini-#{$type}-button:after {
    content: url('#{$img_path}functional_buttons/#{$miniImageSize}#{$image}');
  }
}

/*--------------------------------------------------------------------------*/

.close-absolute-window {
  position: absolute;
  z-index: 100;
  top: 10px;
  right: 10px;
}

.confirmation-button {
  transition: $shortTransition;
  padding: 5px 15px 5px 15px;
  border-radius: 7px;
  border: 0;
  font-family: $fontFamily;
  font-size: 20px;
  color: white;
  background-image: linear-gradient(to left, rgb(20, 172, 0), rgb(0, 36, 12));
  background-size: 300% 100%;
  background-position: right;

  &:hover {
    background-position: center;
  }

  &:active {
    background-position: left;
  }
}