$fontFamily: 'Cuprum', sans-serif;
$fontSizeStandart: 16px;
$fontSizeMedium: 19px;
$showBlocksAnimation: 0.5s showBlock;
$nightModeTransition: all 0.2s ease;
$shortTransition: all 0.35s ease;
$inputbgcolor: #ffffff;
$dayModeFormColor: #ececec;
$nightModeTextColor: #ffe553;
$boxShadowDayMode: inset 0px 0px 35px rgb(255, 255, 255);
$dayModeListShadow: inset 0px 0px 3px rgb(97, 97, 97);
$dayModeInputShadow: inset 0px 0px 5px rgb(97, 97, 97);
$img_path: "http://142.93.141.170:5670/image_base?path=";