.redact-criteria-signs-place {
  transform: $nightModeTransition;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  @media(max-width: 1000px) {
    & {
      min-height: 100%;
    }
  }
  
  @media(min-width: 1001px) {
    & {
      height: 100%;
    }
  }

  & * {
    font-family: $fontFamily;
  }

  &-menu {    
    transition: $nightModeTransition;
    padding: 5px 5px 5px 5px;
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    overflow-y: auto;

    @media(max-width: 1000px) {
      & {
        overflow-y: hidden;
        min-height: auto;
      }
    }

    &-select-competence {
      padding: 5px 5px 5px 5px;
      min-height: 400px;

      &-area {
        position: relative;
        transition: $nightModeTransition;
        background-color: $dayModeFormColor;
        box-shadow: $boxShadowDayMode;
        display: flex;
        flex-direction: column;
        height: 100%;
        border-radius: 15px;
        padding: 15px 15px 15px 15px;

        &-list {
          transition: $nightModeTransition;
          height: 100%;
          background-color: $dayModeFormColor;
          box-shadow: $dayModeListShadow;
          border-radius: 5px;
          overflow-y: scroll;
          // padding: 5px 5px 5px 5px;

          &-items {
            transition: $nightModeTransition;
            height: 100%;
            width: 100%;
            border-radius: 15px;
          }
        }
      }
    }

    &-change-signs {
      padding: 5px 5px 5px 5px;

      &-area {
        position: relative;
        transition: $nightModeTransition;
        background-color: $dayModeFormColor;
        box-shadow: $boxShadowDayMode;
        display: flex;
        flex-direction: column;
        height: 100%;
        border-radius: 15px;
        padding: 15px 15px 15px 15px;

        &-list {
          transition: $nightModeTransition;
          height: 100%;
          border-radius: 5px;
          overflow-y: scroll;
          background-color: $dayModeFormColor;
          box-shadow: $dayModeListShadow;

          &-items {
            transition: $nightModeTransition;
            height: 100%;
            width: 100%;
            border-radius: 15px;
            padding: 5px 15px 5px 15px;
          }
        }
      }
    }

    @media (min-width: 1001px) {
      &-select-competence {
        flex: 3 3 100px;
        height: 100%;
      }

      &-change-signs {
        flex: 7 7 100px;
        height: 100%;
      }
    }

    @media (max-width: 1000px) {
      & {
        min-height: 600px;
        flex-direction: column !important;

        &-select-competence {
          height: 100%;
        }

        &-change-signs {
          height: 100%;
        }
      }
    }
  }
}

.border-right-buttons-block {
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 1;
}

.form-add-criteria {
  width: 75%;
  max-height: 100%;

  @media(max-width: 800px){
    & {
      width: 100%;
      min-height: 700px;
    }
  }
}

.range-container-borders {
  height: 15px;
  border-radius: 5px;
  background-color: rgb(255, 217, 0);
}

.list-of-signs-in-add-form {
  padding: 35px 5px 35px n5px;
  border-radius: 15px;
  box-shadow: inset 0px 0px 10px #6b6b6b;
  overflow-y: auto;
}

.list-of-signs-buttons {
  padding: 5px 5px 5px 5px;
  display: flex;
  justify-content: center;
}

.item-sign-block {
  border-bottom: 1px solid #6b6b6b;
  border-radius: 7px;
  position: relative;
  padding: 5px 5px 5px 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &-text {
    flex: 1 1 400px;
    padding: 5px 5px 5px 5px;
  }

  &-range {
    flex: 1 1 200px;
    padding: 5px 5px 5px 5px;
  }

  &-button {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

.item-criterion {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  background-color: $dayModeFormColor;
  box-shadow: $boxShadowDayMode;
  padding: 7px 7px 7px 7px;
  border-radius: 7px;
  transition: $nightModeTransition;
  animation: $showBlocksAnimation;

  & * {
    font-family: $fontFamily;
    word-wrap: break-word;
  }

  &-num {
    font-size: 25px;
  }

  &-criterion {
    width: 100%;

    &-text {
      /*max-width: 600px;*/
      padding: 15px 15px 15px 15px;
      word-wrap: break-word;
      background-color: rgba($color: #6b6b6b, $alpha: 0.3);
      border-radius: 5px;
      line-height: 20px;

      &-bg {
        background-color: rgba($color: #00ffff, $alpha: 0.3);
      }
    }
  }

  &-signs {
    width: 100%;
    padding: 5px 5px 5px 5px;

    &-sign {
      display: flex;
      justify-content: center;
      /*background-color: rgba($color: #3b3b3b, $alpha: 0.3);*/
      background-color: rgba($color: #5eff00, $alpha: 0.35);
      border-radius: 5px;
      margin-top: 5px;

      &-text {
        flex: 1 1 500px;
        padding: 5px 5px 5px 5px;
        /*max-width: 500px;*/
        line-height: 20px;
      }

      &-percents {
        flex: 1 1 300px;
        padding: 5px 5px 5px 5px;
        border-radius: 5px;
        
        &-container {
          position: relative;
          width: 100%;
          height: 18px;
          background-color: rgb(175, 175, 175);
          border-radius: 5px;

          &-value {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
          }

          &-progress {
            position: absolute;
            top: 0;
            left: 0;
            width: 10%;
            height: 18px;
            background-color: rgba($color: #2ec700, $alpha: 1);
            border-radius: 5px;
          }
        }
      }
    }
  }

  &-buttons {
    display: flex;
    justify-content: center;
  }
}