.user {
  transition: $nightModeTransition;
  width: 100%;
  min-height: 100%;
  background-color: white;
  display: flex;

  &-area {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    &-header {
      transition: $nightModeTransition;
      animation: $showBlocksAnimation;
      background-color: $dayModeFormColor;
      display: flex;

      &-section {
        &-image-container {
          display: flex;
          justify-content: center;
          align-items: center;

          & img {
            width: 60px;
          }
        }

        &-func-panel {
          width: 100%;
        }

        &-button-panel {
          padding: 5px 5px 5px 5px;
          display: flex;
          flex-direction: row;
        }
      }
    }
    @media(max-width: 280px) {
      &-header {
        flex-direction: column;
        &-section {
          &-image-container {
            width: 100%;
            justify-content: center;
          }
          &-func-panel {
            width: 100%;
            justify-content: center;
          }
          &-button-panel {
            width: 100%;
            justify-content: center;
          }
        }
      }
    }
    &-place {
      width: 100%;
      height: 100%;
      /*background-color: blueviolet;*/

      &-info {
        width: 100%;
        padding-bottom: 15px;
        transition: $nightModeTransition;
        background-color: rgba($color: #c5c5c5, $alpha: 0.65);
        animation: $showBlocksAnimation;

        &-label {
          transition: $nightModeTransition;
          word-wrap: break-word;
          width: 100%;
          padding: 5px 5px 5px 5px;
          text-align: center;
          font-family: $fontFamily;
          font-size: $fontSizeStandart;
          color: black;
        }

        &-avatar {
          display: flex;
          justify-content: center;
          padding: 25px 25px 25px 25px;

          &-image {
            position: relative;
            height: 150px;
            width: 150px;
            border-radius: 50%;
            background-color: #262626;
            background-size: auto 100%;
            background-position: center;
            overflow: hidden;

            & input[type='file']{
              position: absolute;
              width: 100%;
              height: 100%;
              bottom: 0;
              left: 0;
              opacity: 0;

              &:focus {
                outline: none;
              }
            }
            &:hover &-upload {
              bottom: 0px;
            }

            &-upload {
              z-index: 10;
              transition: $shortTransition;
              position: absolute;
              background-color: rgba($color: #000000, $alpha: 0.75);
              bottom: -70px;
              width: 100%;
              height: 50px;
              &:hover {
                cursor: pointer;
              }
              &:after {
                display: flex;
                justify-content: center;
                align-items: center;
                content: url('#{$img_path}/ui/upload.png');
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-repeat: repeat;
              }
            }
          }
        }
      }
      &-work {
        transition: $nightModeTransition;
        animation: $showBlocksAnimation;
      }
    }
  }
  &-menu {
    width: 100%;
    display: flex;
    justify-content: center;

    &-container {

      width: 100%;
      &-item {

        animation: $showBlocksAnimation;
        background-color: $dayModeFormColor;
        box-shadow: $dayModeListShadow;
        margin: 15px 15px 15px 15px;
        transition: $shortTransition;
        border-radius: 15px;
        text-decoration: none;
        color: black;
        &:hover {
          opacity: 0.7;
          cursor: pointer;
        }
        &:active {
          box-shadow: inset 0px 0px 18px 7px #2e2e2ed0;
        }
        &-header {
          display: flex;
          justify-content: center;
          padding: 10px 10px 10px 10px;
        }
        &-name {
          padding: 10px 10px 10px 10px;
          font-family: $fontFamily;
          font-size: $fontSizeStandart;
          text-align: center;
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .user-area-place {
    display: block;
  }
  .user-menu-container {
    display: flex;
    flex-direction: column;
    &-item {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
}

@media(min-width: 769px) {
  .user-area-place {
    display: flex;
    &-info {
      flex: 1 1 220px;
    }
    &-work {
      flex: 4 4 530px;
    }
  }
  .user-menu-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    &-item {      
      flex: 1 1 25%;
      max-width: 25%;
    }
  }
}