.fill-assessment-form-list {
  width: 100%;
  display: flex;
  justify-content: center;
  animation: $showBlocksAnimation;

  & * {
    animation: none !important;
  }

  &-container {
    width: 1000px;

    &-criteria-sign-container {
      padding: 15px 15px 15px 15px;
    }

    &-competence-container {
      padding: 20px 20px 20px 20px;
    }

    &-criteria-container {
      padding: 15px 15px 15px 15px;
    }

    &-sign-container {
      padding: 7px 7px 7px 7px;
    }
  }
}


.invites-list {
  display: flex;
}