/* FORM { */

.standart-form {
  transition: $nightModeTransition;
  animation: $showBlocksAnimation;
  background-color: $dayModeFormColor;
  padding: 5px 5px 5px 5px;
  border-radius: 15px;
  width: 100%;
  position: relative;
  
  &-loader-image {
    user-select: none;
    animation: $showBlocksAnimation;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    & img {
      height: 70px;
      width: 70px;
    }
  }
}
.horizontal-form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
}
.vertical-form {
  display: flex;
  flex-direction: column;
}
.horizontal-form .input-container {
  flex: 1 1 200px;
}
.input-container {
  padding: 5px 5px 5px 5px;
  &-nums {
    display: flex;
    justify-content: center;
    font-family: $fontFamily;
  }
}
.form-container {
  display: flex;
  height: 100%;
  flex-wrap: nowrap;
  padding: 5px 5px 5px 5px;
  &-center-items {
    width: auto;
    display: flex;
    justify-content: center;
  }
  &-padding {
    padding: 5px 5px 5px 5px;
  }
  &-row {
    flex-direction: row;
  }
  &-column {
    flex-direction: column;
  }
  &-label {
    font-size: $fontSizeStandart;
    margin: 5px 5px 5px 5px;
    color: black;
    font-family: $fontFamily;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &-input {
    width: 100%;
    font-size: $fontSizeStandart;
    font-family: $fontFamily;
    border: 0;
    height: 30px;
    border-radius: 10px;
    color: black;
    background-color: $inputbgcolor;
    text-align: center;

    &:focus {
      outline: none;
    }
  }
  &-textarea {
    width: 100%;
    max-width: 100%;
    min-height: 60px;
    font-size: $fontSizeStandart;
    font-family: $fontFamily;
    border: 0;
    height: 30px;
    border-radius: 10px;
    color: black;
    background-color: $inputbgcolor;
    text-align: center;
    overflow: hidden;
    &-fixed-width {
      max-width: 600px;
    }
    &-head {
      min-height: 120px;
    }
    &:focus {
      outline: none;
    }
  }
  &-select {
    border: 0;
    border-radius: 50px;
    padding: 5px 5px 5px 5px;
    background-color: $inputbgcolor;
    text-align-last: center;

    &-option {
      width: 100%;
      text-align-last: center;
      text-align: center;
    }

    &:focus {
      outline: none;
    }
  }
}
.vertical-form .button-container {
  padding: 5px 5px 5px 5px;
}
.button-container {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & button {
    margin: 5px 5px 5px 5px;
  }
}
.result-container {
  font-family: $fontFamily;
  text-align: center;
  padding: 5px 5px 5px 5px;
  min-height: 30px;
  max-height: 120px;
  overflow-y: auto;
}

.checkbox-container {
  display: flex;
  flex-wrap: nowrap;
  padding: 3px 3px 3px 3px;
  &-border {
    border-bottom: 1px solid #464646;
  }
}

.standart-checkbox-label {
  position: relative;
  height: 20px;
  width: 40px;
  border-radius: 7px;

  &-text {
    transition: $nightModeTransition;
    width: 100%;
    padding: 2.5px 3px 3px 8px;
    color: black;
    font-family: $fontFamily;
  }

  & > .checbox-place {
    transition: $shortTransition;
    top: 0;
    left: 0;
    background-color: #afafaf; /*#969696*/
    position: absolute;
    height: 20px;
    width: 40px;
    border-radius: 7px;
  }
  
  & > .checbox-place:before {
    transition: $shortTransition;
    height: 20px;
    width: 20px;
    border-radius: 7px;
    background-color: #686868;
    top: 0;
    left: 0;
    position: absolute;
    content: "";
  }
  &:hover {
    cursor: pointer;
  }
  & > input[type="checkbox"] {
    opacity: 0;
  }
  & > input[type="checkbox"]:checked + .checbox-place:before {
    left: 20px;
    background-color: #11d100;
  }
  & > input[type="checkbox"]:checked + .checbox-place {
    background-color: #087300;
  }
  & > input[type="checkbox"] + .checbox-place:after {
    position: absolute;
    left: 50px;
  }
}

$trackColor: rgba(197, 197, 197, 0.3);
$thumbColor: rgb(255, 217, 0);//rgb(0, 196, 42);

input[type=range]{
  margin: 0;
  overflow: hidden;
}

.standart-range-input {
  position: relative;
  z-index: 20;
  -webkit-appearance: none;
  background-color: transparent !important;
  width: 100%;
}
.standart-range-input:focus {
  outline: none;
}
.standart-range-input::-webkit-slider-runnable-track {
  background: $trackColor;
}
.standart-range-input::-webkit-slider-thumb {
  background: $thumbColor;
  cursor: pointer;
  -webkit-appearance: none;
}
.green-thumb::-webkit-slider-thumb {
  background: rgb(0, 196, 42);
  cursor: pointer;
  -webkit-appearance: none;
}
.standart-range-input:focus::-webkit-slider-runnable-track {
  background: $trackColor;
}
.standart-range-input::-moz-range-track {
  width: 100%;
  background: $trackColor;
}
.standart-range-input::-moz-range-thumb {
  background: $thumbColor;
}
.standart-range-input::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.standart-range-input::-ms-fill-lower {
  background: $trackColor;
}
.standart-range-input::-ms-fill-upper {
  background: $trackColor;
}
.standart-range-input::-ms-thumb {
  position: relative;
  background: $thumbColor;
  z-index: 50;
}
.standart-range-input:focus::-ms-fill-lower {
  background: $trackColor;
}
.standart-range-input:focus::-ms-fill-upper {
  background: $trackColor;
}
/* Track */
.standart-range-input::-webkit-slider-runnable-track {
  height: 15px;
  border-radius: 5px;
}
.standart-range-input::-moz-range-track {
  height: 15px;
  border-radius: 5px;
}
.standart-range-input::-ms-track {
  height: 15px;
  border-radius: 5px;
}
/* Thumb */
.standart-range-input::-webkit-slider-thumb {
  height: 15px;
  width: 20px;
  border-radius: 5px;
}
.standart-range-input::-moz-range-thumb {
  height: 15px;
  width: 20px;
  border-radius: 5px;
}
.standart-range-input::-ms-thumb {
  height: 15px;
  width: 20px;
  border-radius: 5px;
}

.form-list-add-button {
  position: absolute;
  top: 3px;
  left: 3px;
}

/*
        <div className='checkbox-container form-container-row'>
          <div className='standart-checkbox-label-text'>Проверка 1</div>
          <label className='standart-checkbox-label' htmlFor='regCheckOne'>
            <input type='checkbox' id='regCheckOne' checked={this.state.regCheckOne} onChange={(e) => {this.handlerChangeInput(e)}}/>
            <div className='checbox-place'></div>
          </label>
        </div>
*/
