.night-mode-app {
  & .night-mode-bg {
    background-color: #262626;
  }
  & .night-mode-text {
    color: $nightModeTextColor;
    /*text-shadow: 0px 0px 2px rgb(255, 174, 0),
                  0px 0px 4px rgb(255, 174, 0),
                  0px 0px 6px rgb(255, 174, 0),
                  0px 0px 8px rgb(255, 174, 0);
                  0px 0px 10px rgb(255, 174, 0),
                  0px 0px 12px rgb(255, 174, 0),
                  0px 0px 14px rgb(255, 174, 0);*/
  }
  & .night-mode-item {
    background-color: #262626;
  }
  & .night-mode-bg-block {
    background-color: black;
  }
  & .night-mode-form-bg-lite {
    background-color: #161616;
  }
  & .night-mode-form-bg {
    background-color: #262626;
    box-shadow: none;
  }
  & .night-mode-form-bg-hover:hover {
    background-color: #3a3a3a;
    box-shadow: none;
  }
  & .night-mode-input {
    background-color: #0f0f0f;
  }

  & .night-mode-hover:hover {
    background-color: rgba($color: #161616, $alpha: 1);
  }

  & .night-mode-range {
    &::-webkit-slider-runnable-track {
      background: #0f0f0f;
    }
    &:focus::-webkit-slider-runnable-track {
      background: #0f0f0f;
    }
    &::-moz-range-track {
      width: 100%;
      background: #0f0f0f;
    }
    &::-ms-fill-lower {
      background: #0f0f0f;
    }
    &::-ms-fill-upper {
      background: #0f0f0f;
    }
    &::-ms-thumb {
      background: #0f0f0f;
    }
    &:focus::-ms-fill-lower {
      background: #0f0f0f;
    }
    &:focus::-ms-fill-upper {
      background: #0f0f0f;
    }
  }

  & .standart-checkbox-label-night-mode {
    & > .checbox-place {
      background-color: #0e0e0e;
    }
    & > .checbox-place:before {
      background-color: #595959;
    }
  }
}