.redact-staff-place {
  transform: $nightModeTransition;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  &-display-info {
    transition: $nightModeTransition;
    position: relative;
    display: flex;
    justify-content: center;    
    flex-wrap: wrap;
    padding: 5px 50px 5px 50px;
    max-height: 100%;
    width: 100%;
    overflow-y: auto;

    &-block {
      animation: $showBlocksAnimation;
      transition: $nightModeTransition;
      padding: 5px 5px 5px 5px;
      margin: 5px 5px 5px 5px;
      border-radius: 15px;
      flex: 1 1 300px;
      max-width: 300px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      background-color: $dayModeFormColor;
      box-shadow: $dayModeListShadow;

      &-null-line {
        width: 100%;
        height: 1px;
        background-color: #969696;
      }

      &-avatar {
        flex: 1 1 100px;
        display: flex;
        justify-content: center;
        padding: 25px 25px 25px 25px;
  
        &-image {
          width: 100px;
          height: 100px;
          position: relative;
          border-radius: 50%;
          background-color: #262626;
          background-size: auto 100%;
          background-position: center;
          overflow: hidden;
        }
      }
      &-info {
        display: flex;
        flex-direction: column;
        height: 100%;
        &-text {
          padding: 5px 5px 5px 5px;
          font-family: $fontFamily;
          text-align: center;
          color: black;
        }
      }
    }
  }
}

.fixed-functional-buttons-block {
  position: absolute;
  top: 0;
  left: 0;

  &-buttons {
    padding: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    position: fixed;
  }
}

.redact-staff-place-search {
  transition: $nightModeTransition;
  background-color: $dayModeFormColor;
}

.redact-users-staff-info-text {
  text-align: center;
  font-family: $fontFamily;
}

.redact-user-wp-list-of-wp {
  width: 100%;
  overflow-y: scroll;
  max-height: 400px;
  background-color: $dayModeFormColor;
  box-shadow: $dayModeListShadow;
  border-radius: 7px;
}