.main-result-block {
  height: 100%;
  overflow-y: scroll;
}

.result-as-table {
  border: 1px solid black;
  overflow-x: auto;
  overflow-y: hidden;

  & * {
    font-size: 14px;
  }

  &-block {
    &-header {
      padding: 5px 5px 5px 5px;
      border: 1px solid black;
      font-size: 14px;
      font-weight: 900;
    }
  }
}

td {
  border: 1px solid black;
  padding: 5px 5px 5px 5px;
}