.staff-assessment-place {
  transition: $nightModeTransition;
  min-height: 500px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  &-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: $dayModeFormColor;

    &-store-navigator {
      transform: scale(0.85);
      padding: 5px 15px 5px 15px;
      display: flex;

      &-button {
        transition: 0.35s ease;
        height: 25px;
        width: 25px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;

        &-disabled {
          background-color: rgb(82, 69, 0);
          opacity: 0.25;

          &:hover {
            background-color: rgb(82, 69, 0);
          }

          &:active {
            background-color: rgb(82, 69, 0);
          }
        }

        &-enabled {
          background-color:#ffd700;

          &:hover {
            background-color: #f5a700;
          }

          &:active {
            background-color: #a37000;
          }
        }

        &:first-child {
          border-right: 0.25px solid #a37000;
          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;

          &:after {
            position: absolute;
            content: "";
            width: 20px;
            height: 20px;
            background-image: url("#{$img_path}/ui/previous.png");
            background-repeat: no-repeat;
          }
        }

        &:last-child {
          border-left: 0.25px solid #a37000;
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;

          &:after {
            position: absolute;
            content: "";
            width: 20px;
            height: 20px;
            background-image: url("#{$img_path}/ui/next.png");
            background-repeat: no-repeat;
          }
        }

        &:focus {
          outline: none;
        }
      }
    }

    &-punkt {
      height: 100%;
      padding: 0px 15px 0px 15px;
      display: flex;
      align-items: center;
      position: relative;

      &:hover {
        background-color: rgba($color: #ffbb00, $alpha: 0.25);
      }

      &:hover > &-list {
        display: flex;
      }

      &-list {
        z-index: 20;
        position: absolute;
        left: 0px;
        top: 100%;
        display: none;
        flex-direction: column;
        box-shadow: 0px 0px 10px #6b6b6b;
        background-color: $dayModeFormColor;

        &-item {
          padding: 5px 5px 5px 5px;
          min-width: 200px;
          position: relative;
          border: 0;

          &:focus {
            outline: none;
          }

          &:hover {
            background-color: rgba($color: #ffbb00, $alpha: 1) !important;
            color: black !important;
          }

          &:last-child {
            border: 0;
          }
        }
      }

      &-input {
        min-width: 250px;
      }
    }
  }

  &-redact-users-list {
    min-height: 600px !important;
  }

  & .input-name-assessment {
    padding: 15px 15px 15px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  & .users-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    transition: $shortTransition;

    & * {
      transition: $shortTransition;
    }

    &-area {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 5px 5px 5px 5px;
      box-sizing: border-box;
      overflow-y: auto;

      &-col {
        flex: 1 1 500px;
        width: 100%;
        box-sizing: border-box;
        background-color: $dayModeFormColor;
        box-shadow: $boxShadowDayMode;
        position: relative;
        padding: 5px 15px 5px 15px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        margin: 10px 10px 10px 10px;

        &-header {
          box-sizing: border-box;
          font-size: $fontSizeMedium;
          width: 100%;
          padding: 10px 5px 10px 5px;
          display: flex;
          justify-content: center;
          font-family: $fontFamily;
        }

        &-list {
          position: relative;
          height: 100%;
          width: 100%;
          overflow-y: auto;
          flex: 1 1 300px;
          display: flex;
          margin: 15px 0px 15px 0px;
          box-sizing: border-box;
          border-radius: 7px;
          transition: $shortTransition;
          animation: $showBlocksAnimation;
          background-color: $dayModeFormColor;
          box-shadow: $dayModeListShadow;

          &-items {
            width: 100%;
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }

  & * {
    font-family: $fontFamily;
  }

  &-info {
    width: 100%;
    font-size: 16px;
    padding: 5px 5px 5px 5px;
    text-align: center;
  }

  &-punkts {
    transition: $nightModeTransition;
    padding: 5px 5px 5px 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
  }

  &-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &-button {
      transition: $shortTransition;
      width: 100%;
      flex: 1 1 300px;
      margin: 5px 5px 5px 5px;
      padding: 15px 15px 15px 15px;
      background-color: $dayModeFormColor;
      border: 0;
      border-radius: 7px;

      &-hover:hover {
        background-color: #d3d3d3;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.name-assessment-textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
}

.item-user-assessment-list {
  width: 100%;
  display: flex;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid #6b6b6b;

  &-avatar {
    width: 35px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    &-block {
      width: 35px;
      height: 35px;
      background-size: auto 100%;
      background-position: center;
      border-radius: 50%;
    }
  }

  &-info {
    padding: 5px 5px 5px 5px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;

    &-text {
      padding: 5px 5px 5px 5px;
      color: black;
    }
  }

  &-button {
    padding: 5px 5px 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.users-assessment-invites {
  display: flex;
  flex-direction: column;
  animation: $showBlocksAnimation;
  transition: $shortTransition;

  &-row {
    display: flex;
    flex-direction: row;
    transition: $shortTransition;

    &-field {
      width: 45px;
      min-width: 45px;
      height: 45px;
      border: 0;
      padding: 5px 5px 5px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: $shortTransition;

      &:focus {
        outline: none;
      }

      &-head-light {
        background-color: $dayModeFormColor;
      }

      &-user-avatar {
        width: 45px;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        &-block {
          width: 35px;
          height: 35px;
          background-size: auto 100%;
          background-position: center;
          border-radius: 50%;
        }
      }

      &-button {
        width: 100%;
        height: 100%;
        border: 0;
        border-radius: 5px;
        background-color: #cfcfcf;
        transition: $shortTransition;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &:after {
          position: absolute;
          content: "";
          width: 35px;
          height: 35px;
          background-image: url("#{$img_path}/ui/message.png");
          background-repeat: no-repeat;
        }

        &:hover {
          transform: scale(0.95);
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}

.selected-invite-button-important {
  background-color: rgba($color: #f5a700, $alpha: 1) !important;
}

.background-light {
  background-color: rgba($color: #f5a700, $alpha: 0.35) !important;
}

.border-bottom {
  border-bottom: 1px solid #b6b6b6;
}

.ug-item-button {
  transition: $shortTransition;
  width: 100%;
  background: 0;
  border: 0;
  padding: 7px 7px 7px 7px;
  border-bottom: 1px solid #6b6b6b;

  & {
    font-family: $fontFamily;
  }

  &:hover {
    background-color: rgba($color: #f5a700, $alpha: 0.35);
  }

  &:focus {
    outline: none;
  }
}
