.work-positions {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  transition: $shortTransition;
  
  & * {
    transition: $shortTransition;
  }

  &-area {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 5px 5px 5px 5px;
    box-sizing: border-box;
    overflow-y: auto;

    &-col {
      flex: 1 1 50%;
      box-sizing: border-box;
      background-color: $dayModeFormColor;
      box-shadow: $boxShadowDayMode;
      position: relative;
      padding: 5px 15px 5px 15px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      margin: 10px 10px 10px 10px;

      &-header {
        box-sizing: border-box;
        font-size: $fontSizeMedium;
        width: 100%;
        padding: 10px 5px 10px 5px;
        display: flex;
        justify-content: center;
        font-family: $fontFamily;
      }

      &-list {
        position: relative;
        height: 100%;
        width: 100%;
        overflow-y: auto;
        flex: 1 1 300px;
        display: flex;
        margin: 15px 0px 15px 0px;
        box-sizing: border-box;
        border-radius: 7px;
        transition: $shortTransition;
        animation: $showBlocksAnimation;
        background-color: $dayModeFormColor;
        box-shadow: $dayModeListShadow;
      }
    }
  }
}

@media (min-width: 869px) {
  .work-positions {
    height: 100%;
  }
}

@media (max-width: 868px), (max-height: 600px) {
  .work-positions {
    min-height: 100%;
    &-area {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      &-col {
        min-height: 300px;
      }
    }
  }
}

.reg-and-auth-user-page {
  width: 100%;
  height: 100%;
  background-color: #d4d3d3;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  padding: 25px 25px 25px 25px;
  align-items: flex-start;
  & .reg-aut-user-form {
    width: 320px;
  }
}

.form-center, .res-form-center {
  width: 320px;
}

.list-of-items {
  width: 100%;
  color: white;
}

.item-in-list {
  transition: $shortTransition;
  width: 100%;
  border-bottom: 1px solid #6b6b6b;
  display: flex;
  @media(max-width: 480px) {
    & {
      flex-direction: column;
    }
  }
  @media(min-width: 481px) {
    & {
      flex-direction: row;
    }
  }
  &-data {
    width: 100%;
    display: flex;
    &-block {
      text-align: center;
      padding: 10px 10px 10px 10px;
      font-family: $fontFamily;
      width: 100%;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &-buttons-container {
    transition: $shortTransition;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    &-radio-block {
      height: 100%;
      padding: 5px 5px 5px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &-input {
        opacity: 0.6;
      }

      &-label {
        position: absolute;
        border-radius: 7px;
        height: 25px;
        width: 25px;
        background-color: #969696;
        /*border: 0.35px solid #ffd700;*/

        &:after {
          position: absolute;
          content: '';
        }

        &:hover {
          cursor: pointer;
        }
      }

      &-input:checked + &-label:after {
        border-radius: 7px;
        height: 25px;
        width: 25px;
        transform: scale(0.8);
        content: url('#{$img_path}/ui/success.png');
      }
    }

    &-checkbox {
      transition: $shortTransition;
      animation: $showBlocksAnimation;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
      position: relative;

      &-input {
        position: absolute;
        opacity: 0;
      }

      &-label {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 25px;
        border-radius: 25%;
        position: absolute;
        background-color: #969696;

        &:hover {
          cursor: pointer;
        }
      }

      &-input:checked + &-label:before {
        content: url('#{$img_path}/ui/success.png');
        position: absolute;
        border-radius: 25%;
        height: 25px;
        width: 25px;
        top: 0;
        left: 0;
        transform: scale(0.8);
      }
    }
  }
}
